{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review_read</title>
</head>

<body>
{% block content %}
    <h1>Review_read</h1>
    <hr>
    {% for review_board in review_board %}
        <h3><a href="{% url 'review_detail' review_board.id %}">{{ review_board.title }}</a></h3>
        <p>{{ review_board.pub_date }}</p>
        <p>{{ review_board.body }}</p>
    {% endfor %}
    <a href="{% url 'review_create' %}">글 작성하기</a>

    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
            {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{% endblock %}


</body>
</html>