{% extends 'review_read.html' %}

{% block content %}

    {% if not review_board %}

        <h1>검색 결과가 없습니다</h1>

    {% else %}

        {% for review_board in review_board.all %}
        <div class="container"> 
            <div class="card">
                <div class="card-body">
                    <h1>{{ review_board.title }}</h1>
                    <p>{{ review_board.pub_date | date:"Y-m-d" }}</p>
                    <p>{{ review_board.body }}<a href="{% url 'review_detail' review_board.id %}"> ...자세히 보기</a></p> 
                </div>
            </div>
        </div>
        <br>
        {% endfor %}

    {% endif %}

{% endblock %}